.nav > li.disabled > a {
    color: #DDDDDD;
}
.nav > li.disabled > a:hover, .nav > li.disabled > a:focus {
    background-color: rgba(0, 0, 0, 0);
    color: #DDDDDD;
    cursor: not-allowed;
    text-decoration: none;
}
li.disabled{
color: #DDDDDD;
    cursor: not-allowed;
}